@font-face {
  font-family: 'Roxborough CF';
  src: url('../FONT/RoxboroughCF.ttf');
}

body{
  font-family: Roxborough CF;
  background-color: #494949;
}

.cardCurso:hover{
  cursor: pointer;
}

.cardCurso{
  background-color: #577285;
  color: #FFF;
}